*{
    margin: 0px;
    padding: 0px;
}
.TodoApp{
    border: 5px solid black;
    height: 500px;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputParent{
    border: 2px solid black;
    height: 60px;
    display: flex;
    padding: 10px;

}
.inputText{
    width: 98%;
    height: 80%;
}
.addbutton{

}

.listparent{

}
.listText{
    font-size: 40px;

}